@import "config", "bookConfig", "adminConfig";

/* PAGE */
html,
.App {
  text-align: center;
  background-color: $background-color;
}

h1 {
  margin: 0;
  padding-top: 100px;
}

/* NAV */
.navbar {
  justify-content: space-between;
}

/* GALLERY */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}